Repository hmcts/wa-task-monitor, pull requests merged in 2021-06, with the labels that each got.

#2 add scheduler to run the app every 10 secs
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  config/owasp/suppressions.xml
  infrastructure/state.tf
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/camunda/CamundaClientMock.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/camunda/CamundaClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/camunda/CamundaWireMockConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/taskconfiguration/TaskConfigurationClientMock.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/taskconfiguration/TaskConfigurationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/taskconfiguration/TaskConfigurationWireMockConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/services/CamundaTaskConfiguratorSchedulerTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/post-task-camunda-response.json
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskConfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobController.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/exceptions/CamundaRequestFailure.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/models/CamundaTask.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/models/JobDetailName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/models/JobDetails.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/models/MonitorTaskJobReq.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/schedulers/TaskConfiguratorScheduler.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/ConfigurationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/JobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/MonitorTaskJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/TaskConfigurationService.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/camundaquery/camunda-query-parameters.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/exceptions/CamundaRequestFailureTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/CamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/TaskConfigurationServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/TestUtility.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/matchers/CamundaQueryParametersMatcher.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-2

#3 Task/fix swagger
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-3

#4 Improve logging and minor improvements to avoid calling extra logic i…
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/services/CamundaTaskConfiguratorSchedulerTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobController.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/schedulers/TaskConfiguratorScheduler.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/CamundaService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/ConfigurationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/MonitorTaskJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/TaskConfigurationService.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-4
