Repository hmcts/wa-task-monitor, pull requests merged in 2021-11, with the labels that each got.

#37 RWA-890 [SH] Fixing CVE-2021-22096 by bumping springboot version
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-37

#38 RWA-776 added ithc and perftest to be in sync with master
  Jenkinsfile_CNP
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-38

#39 RWA-948 & RWA-822: R2 Post deployment Fts and multiple scenario Support
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/enums/TerminateReason.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobService.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-historic-task-pending-termination-query.json
  src/main/resources/camunda/camunda-search-cftTaskState-unconfigured.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-39

#40 Put wa-task-management-api instead of wa-task-batch-service for task …
  README.md
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/taskconfiguration/TaskConfigurationClientMock.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/taskconfiguration/TaskConfigurationClientTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskConfigurationClient.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-40
