Repository hmcts/wa-task-monitor, pull requests merged in 2021-07, with the labels that each got.

#5 Bugfix/rwa 624
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForAdHocJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForConfigurationJobTest.java
  src/functionalTest/resources/camunda/camunda-delete-process-instances-request-parameter.json
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/camunda/CamundaClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/DisableAsyncConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForAdHocJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForConfigurationJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/services/CamundaTaskConfiguratorSchedulerTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/camunda/camunda-delete-process-instances-request-parameter.json
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/Application.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobController.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/exceptions/PrettyPrintFailure.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/models/JobDetailName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/models/MonitorTaskJobReq.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/models/camunda/CamundaTask.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/models/jobs/JobDetailName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/models/jobs/JobDetails.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/schedulers/TaskConfiguratorScheduler.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/ConfigurationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/JobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/MonitorTaskJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/JobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/RequestParameterEnum.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/DeleteProcessInstancesJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/DeleteProcessInstancesJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/taskconfiguration/TaskConfigurationService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/utilities/LoggingUtility.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/utilities/ResourceUtility.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-delete-process-instances-request-parameter.json
  src/main/resources/camunda/camunda-query-parameters.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/TaskConfigurationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/ConfigurationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/ResourceUtilityTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/DeleteProcessInstancesJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/DeleteProcessInstancesJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/utilities/LoggingUtilityTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/MonitorTaskJobControllerUtility.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/matchers/CamundaQueryParametersMatcher.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-5

#10 revert change
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForAdHocCreateTasksTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForAdHocDeleteProcessInstanceTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForConfigurationJobTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-10

#11 remove limit in the ES result
  src/main/resources/adhoc/create-task/ad-hoc-create-tasks-ccd-elastic-search-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/ElasticSearchCaseRetrieverServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-11

#12 Task/rwa 645 create tasks set limit
  src/main/resources/adhoc/create-task/ad-hoc-create-tasks-ccd-elastic-search-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/ElasticSearchCaseRetrieverServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-12

#14 Added logging
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/GenericJobOutcome.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/GenericJobReport.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobService.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/GenericJobOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/GenericJobReportTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-14

#9 RWA-572: Implement termination job
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/taskconfiguration/TaskConfigurationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForAdHocJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForConfigurationJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForTerminationJobTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskConfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskManagementClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/HistoricCamundaTask.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/TerminateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/enums/TerminateReason.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/options/TerminateInfo.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/ResourceEnum.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobService.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-historic-task-pending-termination-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/TestUtility.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-9

#15 adjust ES query to discard cases in ended and appealTakenOffline states
  src/main/resources/adhoc/update-case/ad-hoc-update-case-ccd-elastic-search-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/ElasticSearchCaseRetrieverServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-15

#16 Bugfix/rwa 677 2
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/updatecasedata/UpdateCaseDataParameter.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/UpdateCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/CaseManagementDataParameter.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/CaseManagementDataService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/UpdateCaseDataJobService.java
  src/main/resources/adhoc/update-case/ad-hoc-update-case-ccd-elastic-search-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/ElasticSearchCaseRetrieverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/CaseManagementDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/UpdateCaseDataJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-16
