Repository hmcts/wa-task-monitor, pull requests merged in 2021-08, with the labels that each got.

#18 Techdebt/rwa 433 2
  build.gradle
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForAdHocJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/SpringBootIntegrationBaseTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/request/JobDetails.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/request/MonitorTaskJobRequest.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/createtasks/JsonResourceCaseListTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-18

#21 Added FTs to nightly build
  Jenkinsfile_nightly
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-21

#22 Resolved wiremock dependency issue
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-22

#23 Ft nightly build fix
  Jenkinsfile_nightly
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-23

#24 Added pitest task
  build.gradle
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/HistoryCamundaTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/idam/UserIdamTokenGeneratorInfoTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-24

#26 Pitest coverage
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/HistoryCamundaTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/idam/TokenTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/idam/UserIdamTokenGeneratorInfoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/idam/UserInfoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/GenericJobOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/GenericJobReportTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/ElasticSearchRetrieverParameterTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/createtasks/CreateTaskJobOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/createtasks/CreateTaskJobReportTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/createtasks/ElasticSearchCaseListTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/createtasks/ElasticSearchCaseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/createtasks/ElasticSearchRetrieverParameterTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/createtasks/JsonResourceCaseListTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/updatecasedata/UpdateCaseJobOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/updatecasedata/UpdateCaseJobReportTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagment/request/options/TerminateInfoTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/request/JobDetailsTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-26

#27 Disabled mutation and security scan
  Jenkinsfile_nightly
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-27

#29 add ConfigurationJobConfig.java to load the context we need to run th…
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForConfigurationJobTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/job/ConfigurationJobConfig.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/config/job/ConfigurationJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-29
