Repository hmcts/wa-task-monitor, pull requests merged in 2021-12, with the labels that each got.

#43 RWA-951: Refactor termination calls to be generic
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForTerminationJobTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/enums/TerminateReason.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/options/TerminateInfo.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobService.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-43

#45 log4j upgraded to 2.15.0
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-45

#42 RWA-712 Integrate with Fortify
  Fortify Scan/wa-task-monitor.zip
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  lib/FodUpload.jar
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-42

#46 RWA-1019 [SH] temporarily disabling Fortify from the nightly builds d…
  Jenkinsfile_nightly
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-46
