Repository hmcts/wa-task-monitor, pull requests merged in 2022-08, with the labels that each got.

#99 Rwa 1465
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/entities/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJobService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-99

#104 Added support of terraform/terraform-version for renovate
  .github/renovate.json
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-104

#112 RWA-1674: Remove noisy and incorrect Task Initiation/Task Termination…
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/initiation/TaskInitiationFailuresJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/termination/TaskTerminationFailuresJobService.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/initiation/TaskInitiationFailuresJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/termination/TaskTerminationFailuresJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-112

#106 RWA-1175: application insights upgrade to v3
  Dockerfile
  build.gradle
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-106

#111 Rwa 1575 clean up history tasks
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/job/CleanUpJobConfig.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/JobName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/ResourceEnum.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/MaintenanceCamundaTaskCleanUpJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/MaintenanceCamundaTaskCleanUpJobService.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-delete-active-process-instances-request.json
  src/main/resources/camunda/camunda-delete-historic-process-instances-request.json
  src/main/resources/camunda/camunda-task-clean-up-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/config/job/MaintenanceCamundaTaskCleanUpJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/MaintenanceCamundaTaskCleanUpJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/MaintenanceCamundaTaskMaintenanceCamundaTaskCleanUpJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-111

#114 Add backstage configuration file
  catalog-info.yaml
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-114

#113 RWA-1517 Clean up R1 cron jobs
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForConfigurationJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/taskconfiguration/TaskConfigurationClientMock.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/taskconfiguration/TaskConfigurationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/taskconfiguration/TaskConfigurationWireMockConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForConfigurationJobTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskConfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/JobName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobService.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/DeleteProcessInstancesJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/pendingterminationtasks/PendingTerminationJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/MaintenanceCamundaTaskCleanUpJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/initiation/TaskInitiationFailuresJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/termination/TaskTerminationFailuresJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/matchers/CamundaQueryParametersMatcher.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-113
