Repository hmcts/wa-task-monitor, pull requests merged in 2022-01, with the labels that each got.

#49 feat:Remove group usage(RWA-722)
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-49

#51 RWA-1032 pact test for ccd
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/CoreCaseDataConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/StartEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/StartForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/SubmitEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/SubmitForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/util/CcdConsumerTestBase.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/util/PactDslBuilderForCaseDetailsList.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/json/case_data_map.json
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-51

#55 Rwa 1032 pact test for ccd
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/StartEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/StartForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/SubmitEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/SubmitForCaseWorkerConsumerTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-55

#53 RWA-1054: Default taskType to taskId when taskType is null to allow migration to R2
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-53

#56 Reduce the number of max tasks retrieved at once to 100 from 1000
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/camunda/CamundaClientMock.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/clients/camunda/CamundaClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForConfigurationJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForInitiationJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForTerminationJobTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/job/InitiationJobConfig.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/job/TerminationJobConfig.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/config/job/InitiationJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/config/job/TerminationJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-56

#52 Limit query for Task Initiation and Termination by time
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobService.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-historic-task-pending-termination-query.json
  src/main/resources/camunda/camunda-search-cftTaskState-unconfigured.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-52

#50 RWA-627 delayed task case added to FTs
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/UnitBaseTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/GenericJobReportTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/createtasks/CreateTaskJobReportTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/updatecasedata/UpdateCaseJobReportTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-50
