Repository hmcts/wa-task-monitor, pull requests merged in 2022-07, with the labels that each got.

#96 RWA-1573 - CVE-2022-34305 suppression, tomcat upgrade 9.0.64 and upda…
  build.gradle
  charts/wa-task-monitor/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-96

#97 RWA-1604-initiation and termination failure message extended
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/initiation/TaskInitiationFailuresJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/termination/TaskTerminationFailuresJobService.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-97

#98 RWA-1575-Clean up job added
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/job/CleanUpJobConfig.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaHistoryRemoveRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaRemoveRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaTaskCount.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/JobName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/ResourceEnum.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobService.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-task-clean-up-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/config/job/CleanUpJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaHistoryRemoveRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaRemoveRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaTaskCountTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-98

#102 Revert "RWA-1575-Clean up job added"
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/job/CleanUpJobConfig.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaHistoryRemoveRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaRemoveRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaTaskCount.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/JobName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/ResourceEnum.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobService.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-task-clean-up-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/config/job/CleanUpJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaHistoryRemoveRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaRemoveRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaTaskCountTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-102

#103 Rwa-1575 fix property naming strategy
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CaseEventHandlerClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CcdClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskConfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskManagementClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/CamundaClientFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/job/CleanUpJobConfig.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaHistoryRemoveRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaRemoveRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaTaskCount.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/JobName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/ResourceEnum.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobService.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-task-clean-up-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/config/job/CleanUpJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaHistoryRemoveRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaRemoveRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaTaskCountTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/services/RoleAssignmentServiceApi.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-103

#105 Revert "Rwa-1575 fix property naming strategy"
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CaseEventHandlerClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CcdClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskConfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskManagementClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/config/job/CleanUpJobConfig.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaHistoryRemoveRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaRemoveRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaTaskCount.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/JobName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/ResourceEnum.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobService.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-task-clean-up-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/config/job/CleanUpJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaHistoryRemoveRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaRemoveRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/CamundaTaskCountTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/CleanUpJobTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/config/CamelCaseFeignConfiguration.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/services/RoleAssignmentServiceApi.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-105

#92 RWA-1095 Execute Reconfigure
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerFoReconfigurationJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerFoReconfigurationJobTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskReconfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/TaskOperationRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/entities/ExecuteReconfigureTaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/entities/TaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/entities/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/enums/TaskFilterOperator.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/enums/TaskOperationName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/JobName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJobService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/TaskOperationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/entities/ExecuteReconfigureTaskFilterTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/entities/TaskOperationTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJobTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-92
