Repository hmcts/wa-task-monitor, pull requests merged in 2022-09, with the labels that each got.

#117 RWA-1751: upgraded snakeyaml due to CVE-2022-25857
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-117

#83 Migrated dependabot to v2
  .dependabot/config.yml
  .github/dependabot.yml
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-83

#129 Cherry pick additional properties for initiation (RWA-1787)
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/enums/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/enums/TaskAttributeDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/helpers/InitiationHelpers.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-129

#130 Revert "Cherry pick additional properties for initiation (RWA-1787)"
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/enums/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/enums/TaskAttributeDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/helpers/InitiationHelpers.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-130

#131 Cherry pick additional properties for initiation(RWA-1787)
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/enums/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/enums/TaskAttributeDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/helpers/InitiationHelpers.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/config/GivensBuilder.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-131

#115 feat: Support new task attributes of map(RWA-1447)
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/TaskManagementClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/enums/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/InitiateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapper.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/helpers/InitiationHelpers.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-115

#136 RWA-1829 - dependency-check - CVE-2022-38752
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-136

#137 Filter priority date from camunda tasks for initiation
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/camunda/enums/CamundaVariableDefinition.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationTaskAttributesMapper.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-137
