Repository hmcts/wa-task-monitor, pull requests merged in 2022-11, with the labels that each got.

#164 RWA-1971 Fix CVE-2022-31692, CVE-2022-31690, CVE-2022-42252
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-164

#162 Handle inititation Duplicate error gracefully [RWA-1882]
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-162

#161 RWA-1949 Output full jenkins logs
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-161

#150 RWA-1827 Add reconfiguration retry window time limit
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/entities/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJobService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-150

#172 Updating Chart Version
  charts/wa-task-monitor/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-172
