Repository hmcts/wa-task-monitor, pull requests merged in 2022-02, with the labels that each got.

#54 RWA-974: Add idam account deletion through After annotation test lyfecycle
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/SpringBootFunctionalBaseTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wataskmonitor/controllers/MonitorTaskJobControllerForAdHocJobTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/config/DocumentManagementFiles.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/entities/TestAuthenticationCredentials.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/services/AuthorizationProvider.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/services/IdamServiceApi.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-54

#57 Bug/RWA-1068 time limit for task configuration
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobService.java
  src/main/resources/application.yaml
  src/main/resources/camunda/camunda-search-taskState-unconfigured.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/configuration/ConfigurationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/initiation/InitiationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/termination/TerminationJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-57

#58 Refactor:Up the java chart version
  charts/wa-task-monitor/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-58

#59 refactor:resolve cve issue
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-59

#61 mutation step added to nightly build
  Jenkinsfile_nightly
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-61

#62 suppress CVE-2005-1036
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-62
