Repository hmcts/wa-task-monitor, pull requests merged in 2022-10, with the labels that each got.

#144 RWA-1870 - Suppression CVE fix - CVE-2022-42003
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-144

#138 RWA-1824 Fix reconfiguration initiation issue
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmanagement/request/entities/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/reconfiguration/ReconfigurationJobService.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-138

#145 RWA-1861: Dependabot PRs merge
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-145

#157 RWA-1520 remove unneeded jobs
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/CoreCaseDataConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/SearchCasesConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/util/CcdConsumerTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/adhoc/MonitorTaskJobControllerForAdHocCreateTasksTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/adhoc/MonitorTaskJobControllerForAdHocUpdateCasesTest.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/clients/CcdClient.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/domain/taskmonitor/JobName.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/JobOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/ResourceEnum.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/CreateTaskJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/CreateTaskJobOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/CreateTaskJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/JsonResourceCaseRetrieverService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/CaseManagementDataParameter.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/CaseManagementDataService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/UpdateCaseDataJob.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/UpdateCaseDataJobService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/retrievecaselist/ElasticSearchCaseRetrieverService.java
  src/main/java/uk/gov/hmcts/reform/wataskmonitor/services/retrievecaselist/RetrieveCaseListService.java
  src/main/resources/adhoc/create-task/ad-hoc-create-tasks-ccd-elastic-search-query.json
  src/main/resources/adhoc/create-task/ad-hoc-create-tasks.json
  src/main/resources/adhoc/update-case/ad-hoc-update-case-ccd-elastic-search-query.json
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/CreateTaskJobOutcomeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/CreateTaskJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/CreateTaskJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/ElasticSearchCaseRetrieverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/createtasks/JsonResourceCaseRetrieverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/CaseManagementDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/UpdateCaseDataJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/updatecasedata/UpdateCaseDataJobTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-157

#158 RWA-1881 Remove IAC specific FT
  src/functionalTest/java/uk/gov/hmcts/reform/wataskmonitor/MonitorTaskJobControllerForInitiationJobTest.java
  src/functionalTest/resources/requests/ccd/case_data.json
  src/functionalTest/resources/requests/ccd/wa_case_data.json
  src/functionalTest/resources/requests/roleAssignment/r2/set-organisational-role-assignment-request.json
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/services/AuthorizationProvider.java
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-158
