Repository hmcts/wa-task-monitor, pull requests merged in 2024-08, with the labels that each got.

#401 RWA-3659: Upgrade dependencycheck to 10.0.2
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-401

#405 RWA-3565: Fix high severity code smells
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/adhoc/pendingterminationtasks/PendingTerminationJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/MaintenanceCamundaTaskMaintenanceCamundaTaskCleanUpJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanupsensitivelogs/CleanupSensitiveLogsJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/initiation/TaskInitiationFailuresJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-405

#408 RWA-3728 - Refactor CapturedOutput implementation for verifying logging
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanup/MaintenanceCamundaTaskCleanUpJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanupsensitivelogs/CleanupSensitiveLogsJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/cleanupsensitivelogs/CleanupSensitiveLogsJobTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/initiation/TaskInitiationFailuresJobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wataskmonitor/services/jobs/failure/termination/TaskTerminationFailuresJobServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-408

#411 Review failing mutation post renovate gradle upgrade
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-411
