Repository hmcts/wa-task-monitor, pull requests merged in 2025-06, with the labels that each got.

#490 RWA-4238: removed hardcoded password
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/wa-task-monitor/Chart.yaml
  charts/wa-task-monitor/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/testUtils/java/uk/gov/hmcts/reform/wataskmonitor/services/AuthorizationProvider.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-490

#483 CME-496: Fix Pact Test Failures
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/util/PactDslBuilderForCaseDetailsList.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-483

#506 RWA-4333 task monitor library upgrades
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/StartEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/StartForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/SubmitEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/SubmitForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/ccd/util/PactDslBuilderForCaseDetailsList.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/idam/IdamConsumerTestForPostToken.java
  src/contractTest/java/uk/gov/hmcts/reform/wataskmonitor/consumer/idam/IdamConsumerTestForPostUserInfo.java
Labels: ns:wa, prd:wa, rel:wa-task-monitor-pr-506
